<h2>Available celebrities</h2>

{{#unless celebs.length}}
<p>
    Sorry, no celebrities in database yet !
</p>
{{/unless}}

<ul>
    {{#each celebs}}
    <li> 
        
        {{this.name}} <br>{{this.occupation}}<br>{{this.catchPhrase}} <br>  
        
        <a href="/celebrities/{{this._id}}/edit">Edit</a>   /   <a href="/celebrities/{{this._id}}/delete">delete</a>

    </li>
    {{/each}}
</ul>


<button ><a href="/celebrities/new">Add celebrities</a></button>